<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserCreditRedirect</servlet-name>
  	<display-name>UserCreditRedirect</display-name>
  	<description></description>
  	<servlet-class>com.UserPackage.UserCreditRedirect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckUserCreds</servlet-name>
  	<display-name>CheckUserCreds</display-name>
  	<description></description>
  	<servlet-class>com.UserPackage.CheckUserCreds</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrowBook</servlet-name>
  	<display-name>BorrowBook</display-name>
  	<description></description>
  	<servlet-class>com.UserPackage.BorrowBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckBorrowedUserBooks</servlet-name>
  	<display-name>CheckBorrowedUserBooks</display-name>
  	<description></description>
  	<servlet-class>com.UserPackage.CheckBorrowedUserBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowUpdateBooks</servlet-name>
  	<display-name>ShowUpdateBooks</display-name>
  	<description></description>
  	<servlet-class>com.UserPackage.ShowUpdateBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteBook</servlet-name>
  	<display-name>deleteBook</display-name>
  	<description></description>
  	<servlet-class>com.UserPackage.deleteBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminCredsRedirect</servlet-name>
  	<display-name>AdminCredsRedirect</display-name>
  	<description></description>
  	<servlet-class>com.AdminPackage.AdminCredsRedirect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminCredCheck</servlet-name>
  	<display-name>AdminCredCheck</display-name>
  	<description></description>
  	<servlet-class>com.AdminPackage.AdminCredCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveBookAdmin</servlet-name>
  	<display-name>RemoveBookAdmin</display-name>
  	<description></description>
  	<servlet-class>com.AdminPackage.RemoveBookAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveBooksAdmin</servlet-name>
  	<display-name>RemoveBooksAdmin</display-name>
  	<description></description>
  	<servlet-class>com.AdminPackage.RemoveBookAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowUpdateBooksAdmin</servlet-name>
  	<display-name>ShowUpdateBooksAdmin</display-name>
  	<description></description>
  	<servlet-class>com.AdminPackage.ShowUpdateBooksAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddNewUser</servlet-name>
  	<display-name>AddNewUser</display-name>
  	<description></description>
  	<servlet-class>com.AdminPackage.AddNewUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddNewAdmin</servlet-name>
  	<display-name>AddNewAdmin</display-name>
  	<description></description>
  	<servlet-class>com.AdminPackage.AddNewAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserCreditRedirect</servlet-name>
  	<url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckUserCreds</servlet-name>
  	<url-pattern>/ULogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrowBook</servlet-name>
  	<url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckBorrowedUserBooks</servlet-name>
  	<url-pattern>/checkBorrowedBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowUpdateBooks</servlet-name>
  	<url-pattern>/showBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteBook</servlet-name>
  	<url-pattern>/removeBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminCredsRedirect</servlet-name>
  	<url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminCredCheck</servlet-name>
  	<url-pattern>/ALogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveBookAdmin</servlet-name>
  	<url-pattern>/removeBooksAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveBooksAdmin</servlet-name>
  	<url-pattern>/RemoveBooksAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowUpdateBooksAdmin</servlet-name>
  	<url-pattern>/showBooksAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddNewUser</servlet-name>
  	<url-pattern>/addNewUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddNewAdmin</servlet-name>
  	<url-pattern>/addNewAdmin</url-pattern>
  </servlet-mapping>
</web-app>
